{% if request.user.is_authenticated %}
{% include 'menuLogin.html' %}
    <title>Nuevo Bingo</title>

    <div class="d-flex justify-content-between align-items-center">
        <div class="mb-3 mx-auto p-2"> 
            <h4 class="text-center">Nuevo Bingo</h4> <br>
            <form class="" method="POST" action="{% url 'bingos_nuevo' %}">{%csrf_token%}
                <label>Nombre del Bingo: 
                    <input class="form-control" required name="nombre_bingo" id="nombre_bingo" type="text"> </label><br><br>
                <label>Cantidad de Bingos: 
                    <input class="form-control" value="" required name="cantidad_bingos" id="cantidad_bingos" type="number" min="10" max="500000"> </label><br><br>
                <label>Fecha de Sorteo: 
                    <input class="form-control" required name="fecha_sorteo" id="fecha_sorteo" type="date"> </label><br><br>
                    <input class="btn btn-primary" name="submit" id="submit" type="submit" value="Guardar">
                <br><br><br><br>
                <a class="btn btn-danger" href="{% url 'bingos_menu' %}">Volver atrás</a>  
            </form>        
        </div>
    </div>
    <script>
            var dd, mm, yyyy;
            dd = new Date().getDate();
            mm = new Date().getMonth();
            yyyy = new Date().getFullYear();
            
            let lim = new Date();
            lim.setDate(lim.getDate()+10);

            if(lim.getDate() < 9){
                dd = "0"+lim.getDate();
            }else{
                dd = lim.getDate();
            }

            if(lim.getMonth() < 9){
                mm = "0"+(lim.getMonth()+1);
            }else{
                mm = lim.getMonth()+1;
            }
            yyyy = lim.getFullYear();

            console.log(mm);

        let fs = document.getElementById("fecha_sorteo");
        fs.setAttribute("value", yyyy+"-"+mm+"-"+dd);
        fs.setAttribute("min", yyyy+"-"+mm+"-"+dd);
        fs.setAttribute("max", (yyyy+1)+"-"+mm+"-"+dd);
    </script>

{% else %}
    <meta http-equiv="refresh" content="0;url={% url 'login' %}">
{% endif %}
