

<title>Login - Adminsitrador</title>
<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

<link href="../../media/css/bootstrap.min.css" rel="stylesheet">

<br><br>
<div class="d-flex justify-content-between align-items-center">
    <h4 class="mb-3 mx-auto p-2">Logueo Administrador  </h4>
</div>
<div class="d-flex justify-content-between align-items-center"><br><br><br>
    <form method="post" class="mb-3 mx-auto p-2">
        {% csrf_token %}
        <label for="username">Usuario:</label><br>
        <input type="text" id="username" name="username" min="6" class="form-control"><br><br>
        <label for="password">Contraseña:</label><br>
        <input type="password" id="password" name="password" min="8" class="form-control"><br><br>
        <input type="submit" value="Iniciar sesión" class="btn btn-primary">
    </form>
    

</div>



