
{%load static%}
{% block content %}
<div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for p in pubs %}
        <div class="col">
          <div class="card shadow-sm">
            <a href="{{p.link}}" target="_blank">
            <img src="{{p.imagen}}" class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img">
            </a>
            <div class="card-body">
              <p class="card-text">{{p.descripcion}}</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

        <div class="col">
          <div class="card shadow-sm col">
            <a href="https://docs.google.com/forms/d/1WoG_BrOF5HOSU4X-XOr7c26VjKuDgyHbJIn1te1FPAQ/edit#settings" target="_blank">
              <img src="../../media/images/publicite-aqui.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img">
            </a>
              <div class="card-body">
                <p class="card-text">Contáctese tocando la imagen o escribiendo al correo matias911372@gmail.com</p>
                <div class="d-flex justify-content-between align-items-center">
                </div>
              </div>
            </div>
          </div>
        </div>       
        

      </div>

    </div>
  </div>
  {% endblock%}