{% if request.user.is_authenticated %}
{% include 'menuLogin.html' %}
    <br>
    <title>Editar cartones</title>
    {% if cartones %}
    <h4 class="text-center">Cartones del bingo: <p class="text-success">{{bingo.nombre_bingo}}</p></h4>
    <h4 class="text-danger text-center" >Día del sorteo: {{bingo.fecha_sorteo.day}}-{{bingo.fecha_sorteo.month}}-{{bingo.fecha_sorteo.year}}</h4>
    
    <div class="d-flex justify-content-between align-items-center">
        <div class="table-responsive mb-3 mx-auto p-2"> 
            <table class="table table-striped">
                <thead class="table-dark">
                    <td>
                        ID BINGO
                    </td>
                    <td>
                        ID CARTÓN
                    </td>
                    <td>
                        Nº DE CARTÓN
                    </td>
                    <td>
                        VENDIDO
                    </td>
                    <td>
                        EDITAR
                    </td>

                </thead>
                <br>
            {% for c in cartones %}
                <tr>
                    <td>
                        {{c.idBingo_id}}
                    </td>
                    <td>
                        {{c.idCarton}}
                    </td>
                    <td>
                        {{c.num_carton}}
                    </td>
                    <td>
                        {% if c.vendido == True %}
                        <div class="text-success">SI</div>
                        {% else %}
                        <div class="text-danger">NO</div>                
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{c.idCarton}}?page={{page}}">Ver</a>
                        
                    </td>
                </tr>
            {% endfor %}

            </table>
        </div>
    </div>

    <div class="d-flex justify-content-between align-items-center">
        <div class="mb-3 mx-auto p-2">
        {% if cartones.has_previous %}
            <a class="btn btn-primary" href="?page={{cartones.previous_page_number}}#btnVolver" >Anterior</a>
        {% endif %}

        {% if cartones.has_next %}
            <a class="btn btn-primary" href="?page={{cartones.next_page_number}}#btnVolver" >Siguiente</a>
        {% endif %}
        <br><br>
        </div>
    </div>


<div class="d-flex justify-content-between align-items-center">
    <a id="btnVolver" class="btn btn-danger mb-3 mx-auto p-2" href="{% url 'cartones_show' %}">Volver atrás</a>
</div>
    
    {% else %}
    <br>
    <h3 class="text-center">No existen cartones en este bingo o no existe el bingo</h3>
    <br>
    <br>
    <div class="d-flex justify-content-between align-items-center">
        <a class="btn btn-danger mb-3 mx-auto p-2" href="{% url 'cartones_show' %}">Volver atrás</a>  
    </div> 

    {% endif %}

{% else %}
    <meta http-equiv="refresh" content="0;url={% url 'login' %}">
{% endif %}